@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Days+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
  
}

body{
    background-color: #fff;
}
section{
    
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Compense la moitié de la largeur et de la hauteur du conteneur */

      
      
}
.change_color{
    color:  #20B2AA;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}

.color{
 color: #a98d1d;
}